<h2>{{article.title}}</h2>
URL: <a href={{article.url}}>{{article.url}}</a>
<br>
Posted By: <a href='../{{article.user.username}}'>{{article.user.username}}</a>
<br>
Description: {{article.description}}
